* {
    padding: 0px;
    margin: 0px;
    font-family: Trirong;
}

#bg_body {
    position: absolute;
    top: 0px;
    left: 0px;
    /* background-color: rgba(24, 21, 21, 0.3); */
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    width: 100vw;
}

#modal_popup {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(24, 21, 21, 0.3);
    height: 100vh;
    width: 100vw;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.che {
    background-color: red;
    height: 100vh;
    width: 100vw;
    /* z-index: 1000; */
    opacity: 5%;
}

.timer {
    position: absolute;
    top: 0px;
    background-color: rgba(21, 21, 21, .3);
    padding: 10px 20px 10px 20px;
    border-radius: 0px 5px 0px 5px;
}

.dateText {
    color: red;
}

.popup {
    height: 50vh;
    max-height: 400px;
    width: 50vw;
    max-width: 500px;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}

.wrap_title {
    width: 100%;
    height: 10%;
    max-height: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.wrap_content {
    display: flex;
    /* background-color: aqua; */
    flex: 1;
    justify-content: center;
    margin-left: 0px 20px;
}

.wrap_footer {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrap_footer button {
    margin: 10px;
    padding: 5px;
    min-width: 150px;
}

.hidden {
    display: none;
}
.content_text {
    text-align: center;
}

.mai_cuoi{
    height: 10rem;
    margin-top: 30px;
}